/* This contains all the cards */
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  position: relative; /* Add this */
  /* height: 80vh; */
}

/* Changes the image inside the card */
.vertical-card {
  
  /*Directly related to the height in cards container*/
  /* Responsible for zooming in image properly */
  /* height: 80vh;  */
  height: var(--height);
  display: block;
  overflow: hidden;
  width: calc(100% / var(--number-of-cards)); /* Ensure no extra spacing */
  transition: transform 0.7s ease, filter 0.3s ease; /* filter transition */
  /* border: 0.3em solid rgb(0, 0, 0); */
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box; /* Include border in the element's total width and height */
  box-shadow: 0 0 1em rgba(0, 0, 0, 1); 
  filter: saturate(15%); /* Default saturation */
}

/* Child component styling */
.detail-container {
  height: var(--childHeight);
  position: absolute;
  top: 0;
  right: 0;
  background-color: aqua;
  overflow-y: auto;
  box-sizing: border-box;
}



.card-render {
  display: flex;
  justify-content: center; 
  align-items: center; 
    transition: transform 0.1s ease;
    position: relative;
    height: 100%; 
    padding: 0; 
    margin: 0; 
  }
  
  
  .vertical-card:hover .vertical-card-image {
    transform: scale(1.15);
  }
  
  .vertical-card-image {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, filter 0.3s ease;
    object-fit: cover;
    box-sizing: border-box; /* Include border in the element's total width and height */
    transform: scale(1.05);  /* Default scale*/
  }
  

  
  .vertical-card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    color: rgb(255, 255, 255);
    font-family: Monaco, monospace;
    text-align: center;
    font-size: 8vh;
    font-weight: bold;
    text-shadow: 0px 0px 0.2em rgba(0, 0, 0, 1);
    white-space: nowrap; /* Prevent text from wrapping */
}