body, html, #root {
    background-color: black;
    margin: 0;
    /* padding:100px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }


  h1{
    color:white;
  }
  .cardContainer{
    background-color: rgb(0, 0, 0);
    /* padding: 3%; */
    /* margin-top: 10em; */
    /* overflow-y:scroll; */
  }