body, html, #root {
  background-color: #000000;

    margin: 0;
    /* padding:100px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }


  h1{
    color:#ffffff;
  }
  .cardContainer{
    background-color: #000000;
    /* padding: 3%; */
    /* margin-top: 10em; */
    /* overflow-y:scroll; */
  }