/* This contains all the cards */
.cards-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 98vh; /* Ensure it takes full height OR use 100vh*/
  overflow: hidden; /* Prevent overflow */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 0; /* Remove any margin */
}


.card-render {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: transform 0.1s ease;
  position: relative;
  height: 100%; /* Ensure it takes full height */
  align-items: center; /* Center cards vertically within this div */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
}

.vertical-card {
  display: block;
  overflow: hidden;
  width: calc(100% / var(--number-of-cards)); /* Ensure no extra spacing */
  height: 99%;
  transition: transform 0.7s ease, filter 0.3s ease; /* Ensure filter transition is included */
  border: 0.3em solid rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box; /* Include border in the element's total width and height */
  filter: saturate(15%); /* Default saturation */
}

.vertical-card:hover .vertical-card-image {
  transform: scale(1.05);
}

.vertical-card-image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease, filter 0.3s ease;
  object-fit: cover;
  box-sizing: border-box; /* Include border in the element's total width and height */
}

.detail-container {
  margin-top: 0.8%;

  height: 96%; 
  position: absolute;
  top: 0;
  right: 0;
  background-color: aqua;
  overflow-y: auto; /* Make the container scrollable */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
